---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro'
import SocialPill from '../components/SocialPill.astro'
import GitHubIcon from '../components/icons/GitHub.astro';
import MailIcon from '../components/icons/Mail.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import CodeIcon from '../components/icons/Code.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
---

<Layout 
  title="Edward's Portfolio - Web Developer with 15 years of experience"
  description="Hire me"
>
  <main class="px-4">
    <!-- <h1 style="color: white">Portfolio</h1> -->
    <SectionContainer class="py-44 pb-32">
      <img 
        class="rounded-full size-12 mb-4"
        src="https://yt3.googleusercontent.com/RVqP1kI44dMf7jJjbTDmsb9V8HYOdAnKdhgav9-WgBnc1DdjcKYwoD5E_vDI6U_xhH-lImv8=s88-c-k-c0x00ffffff-no-rj"
        alt="photo">
      <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
        Hey, I'm Edward <a 
          href="https://www.linkedin.com/" 
          target="_blank" 
          rel="noopener" 
          class="flex justify-center items-center"><Badge>Available to work</Badge></a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-balance max-w-[700px]">
        <span>+15 years of experience.</span> <span class="text-yellow-200">Developer and Content Creator</span>. <span class="text-red-200">From Peru 🇵🇪 South America</span>. 
        <span class="text-sky-200">Specialised in make original applications</span>
      </h2>
      <nav class="flex gap-4 mt-8 flex-wrap">
          <SocialPill href="https://www.linkedin.com/">
            <LinkedInIcon class="size-4 md:size-6" />LinkedIn
          </SocialPill> 
          <SocialPill href="https://github.com/">
            <GitHubIcon class="size-4 md:size-6" />GitHub
          </SocialPill> 
          <SocialPill href="https://github.com/">
            <MailIcon class="size-4 md:size-6" />GitHub
            random@user.com
          </SocialPill> 
      </nav>
    </SectionContainer>
    <SectionContainer id="experience">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-7" />
        Work Experience
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="projects">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Projects
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
